body {
    margin: 0;
}
.slider {
    display: flex;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
.slider-inner {
    width: 100vw;
    height: 100vh;
}
.slider-inner img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .3s;
}
.nextBtn {
    top: 50%;
    left: 95%;
    position: absolute;
    transition: .3s;
}
.prevBtn {
    top: 50%;
    right: 95%;
    position: absolute;
    transition: .3s;
}
#counter {
    top: 60%;
    left: 80%;
    position: absolute;
    color: white;
    font-size: 7rem;
    font-weight: bolder;
    font-family: 'Segoe UI';
}
.upward {
    animation: upward .5s ease-in-out;
    overflow: hidden;
}
.button:hover{
    cursor: pointer;
    color: white;
    border-radius: 100%;
}
.hidden {
    display: none;
}
.blur {
    animation: float-right .3s ease-in-out;
}

@keyframes upward {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float-right {
    from {
        filter: blur(100px)
    }
    to {
        filter: blur(0px)
    }
}